header, footer, main, #userGuid{
    width:80%;
    margin-left:10%;
}

header{
    margin-top:1%;
}

header nav{
    display:flex;
    justify-content: flex-end;
    height: 10%;
    flex-wrap: wrap;
}

header nav a{
    background-color: #000066;
    border-radius: 10px;
    padding:0px 20px;
    margin-left:5%;
    height: 50%;

    color:white;
    font-size: 20px;
    line-height: 30px;
}

#userGuid #internalNav{
    background-color: #000066;
    padding: 10px;
    border-radius: 20px;
    margin:5px 0px;
}

header section{
    background-image: url("accessibility-banner.jpg");
    height: 20%;
}

h1{
    color:rgb(255, 255, 255);
    font-size: 2em;
}

section{
    line-height: 2em;
}

*{
    font-size: 12pt1;
    text-align: justify;
}
a{
    cursor:pointer;
}

#skip a {
    position:absolute;
    top: -10000px;
    width:1px;
    height: 1px;
}
#skip a:focus { 
    top: 0px;
    width:auto;
    height:auto;
    background-color:white;
}
